In [1]:

# Importing Necessary Librabries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Nepali_movie.csv') # Reading csv file

In [3]:
df.head() # Display 1st 5 rows

,Unnamed: 0,Title,Director,Writer,Stars,Genre,Release_Date,Overview,Image
0,0,The Red Suitcase,Fidel Devkota,Fidel Devkota,"Saugat Malla, Prabin Khatiwada, Shristi Shrestha","Drama, Mystery",2023.0,A pick-up truck driver leaves Kathmandu airpor...,https://m.media-amazon.com/images/M/MV5BYmY0Zj...
1,1,Pitaambar,Krisha Chaulagain,"Pradeep Bhardwaj, Abhimanyu Nirabi","Dayahang Rai, Pradeep Khadka, Supushpa Bhatta",Action,2025.0,Pitambar is a story of a fearless and tactful ...,https://m.media-amazon.com/images/M/MV5BNmYxMD...
2,2,Boksi Ko Ghar,Sulakshyan Bharati,Sulakshyan Bharati,"Keki Adhikari, Shupala Sapkota, Swechchha Raut",Thriller,2024.0,The plot follows a journalist investigating a ...,https://m.media-amazon.com/images/M/MV5BZWY4ZD...
3,3,Sherpa,Jennifer Peedom,Jennifer Peedom,"Russell Brice, Tim Medvetz, Pasang Tenzing Sherpa",Documentary,2015.0,"In 2014, director Jennifer Peedom was working ...",https://m.media-amazon.com/images/M/MV5BMjAwOD...
4,4,Purna Bahadur Ko Sarangi,Saroj Poudel,"Mahesh Dawadi, Saroj Poudel","Bijay Baral, Prakash Saput, Swayam KC",Drama,2024.0,"A struggling single father battles poverty, us...",https://m.media-amazon.com/images/M/MV5BNzY4ND...

In [4]:
df.isnull().sum() # Checking For Missing values

Unnamed: 0       0
Title            0
Director         0
Writer           0
Stars            0
Genre            3
Release_Date     8
Overview        16
Image            0
dtype: int64

In [5]:
df.shape # Checking shape of dataset

(90, 9)

In [6]:
df.info() # Display Columns Datatype, Non Null counts and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    90 non-null     int64
 1   Title         90 non-null     object
 2   Director      90 non-null     object
 3   Writer        90 non-null     object
 4   Stars         90 non-null     object
 5   Genre         87 non-null     object
 6   Release_Date  82 non-null     float64
 7   Overview      74 non-null     object
 8   Image         90 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 6.5+ KB

In [7]:
def space_remove(column):   # Remove the space of the data
    return column.replace(' ','')

In [8]:
# Applying space_remove function in Stars, Director and Writer columns
df['Stars'] = df['Stars'].apply(space_remove)
df['Director'] = df['Director'].apply(space_remove)
df['Writer'] = df['Writer'].apply(space_remove)

In [9]:
df.rename(columns={'Unnamed: 0':'Movie_id'},inplace = True)   # Rename the 'Unnamed: 0' to 'Movie_id'

In [10]:
df.head()

,Movie_id,Title,Director,Writer,Stars,Genre,Release_Date,Overview,Image
0,0,The Red Suitcase,FidelDevkota,FidelDevkota,"SaugatMalla,PrabinKhatiwada,ShristiShrestha","Drama, Mystery",2023.0,A pick-up truck driver leaves Kathmandu airpor...,https://m.media-amazon.com/images/M/MV5BYmY0Zj...
1,1,Pitaambar,KrishaChaulagain,"PradeepBhardwaj,AbhimanyuNirabi","DayahangRai,PradeepKhadka,SupushpaBhatta",Action,2025.0,Pitambar is a story of a fearless and tactful ...,https://m.media-amazon.com/images/M/MV5BNmYxMD...
2,2,Boksi Ko Ghar,SulakshyanBharati,SulakshyanBharati,"KekiAdhikari,ShupalaSapkota,SwechchhaRaut",Thriller,2024.0,The plot follows a journalist investigating a ...,https://m.media-amazon.com/images/M/MV5BZWY4ZD...
3,3,Sherpa,JenniferPeedom,JenniferPeedom,"RussellBrice,TimMedvetz,PasangTenzingSherpa",Documentary,2015.0,"In 2014, director Jennifer Peedom was working ...",https://m.media-amazon.com/images/M/MV5BMjAwOD...
4,4,Purna Bahadur Ko Sarangi,SarojPoudel,"MaheshDawadi,SarojPoudel","BijayBaral,PrakashSaput,SwayamKC",Drama,2024.0,"A struggling single father battles poverty, us...",https://m.media-amazon.com/images/M/MV5BNzY4ND...

In [11]:
df.fillna('',inplace = True) # Filling the empty value with ''

C:\Users\Samundra\AppData\Local\Temp\ipykernel_33484\2677575663.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('',inplace = True) # Filling the empty value with ''

In [16]:
# Addind the Director, Writer, Stars, Genre, Release_Date and Overview columns to make new column 'new_tag'
df['new_tag'] = df['Director'].astype(str) + ' '+ df['Writer'].astype(str)+ ' '+ df['Stars'].astype(str)+ ' ' + df['Genre'].astype(str) + ' '+ df['Release_Date'].astype(str) + ' '+ df['Overview'].astype(str)

In [18]:
df.head()

,Movie_id,Title,Director,Writer,Stars,Genre,Release_Date,Overview,Image,new_tag
0,0,The Red Suitcase,FidelDevkota,FidelDevkota,"SaugatMalla,PrabinKhatiwada,ShristiShrestha","Drama, Mystery",2023.0,A pick-up truck driver leaves Kathmandu airpor...,https://m.media-amazon.com/images/M/MV5BYmY0Zj...,"FidelDevkota FidelDevkota SaugatMalla,PrabinKh..."
1,1,Pitaambar,KrishaChaulagain,"PradeepBhardwaj,AbhimanyuNirabi","DayahangRai,PradeepKhadka,SupushpaBhatta",Action,2025.0,Pitambar is a story of a fearless and tactful ...,https://m.media-amazon.com/images/M/MV5BNmYxMD...,"KrishaChaulagain PradeepBhardwaj,AbhimanyuNira..."
2,2,Boksi Ko Ghar,SulakshyanBharati,SulakshyanBharati,"KekiAdhikari,ShupalaSapkota,SwechchhaRaut",Thriller,2024.0,The plot follows a journalist investigating a ...,https://m.media-amazon.com/images/M/MV5BZWY4ZD...,SulakshyanBharati SulakshyanBharati KekiAdhika...
3,3,Sherpa,JenniferPeedom,JenniferPeedom,"RussellBrice,TimMedvetz,PasangTenzingSherpa",Documentary,2015.0,"In 2014, director Jennifer Peedom was working ...",https://m.media-amazon.com/images/M/MV5BMjAwOD...,"JenniferPeedom JenniferPeedom RussellBrice,Tim..."
4,4,Purna Bahadur Ko Sarangi,SarojPoudel,"MaheshDawadi,SarojPoudel","BijayBaral,PrakashSaput,SwayamKC",Drama,2024.0,"A struggling single father battles poverty, us...",https://m.media-amazon.com/images/M/MV5BNzY4ND...,"SarojPoudel MaheshDawadi,SarojPoudel BijayBara..."

In [20]:
new_df = df[['Movie_id','Image','Title','new_tag']]  # Making new dataframe with Movie_id, Image, Title and New_tag columns

In [22]:
new_df.isnull().sum() # Checking for null values

Movie_id    0
Image       0
Title       0
new_tag     0
dtype: int64

In [24]:
new_df.sample(5)

,Movie_id,Image,Title,new_tag
22,22,https://m.media-amazon.com/images/M/MV5BNzFmMT...,Facebook,"SurajSubba SurajSubba SbhanAmini,RajeshHamal,W..."
66,66,https://m.media-amazon.com/images/M/MV5BNTU3YT...,Jatra,"PradeepBhattarai PradeepBhattarai BipinKarki,B..."
85,85,https://m.media-amazon.com/images/M/MV5BYzU3Mm...,Sano Sansar,"SiddharthaPudasaini SarismaKhatriPudasaini,Sid..."
63,63,https://m.media-amazon.com/images/M/MV5BNjAxZD...,Manjari,"GaneshDevPanday GaneshDevPanday AbahaAryal,Sar..."
60,60,https://m.media-amazon.com/images/M/MV5BNTczYT...,A Mero Hajur 3,"JharanaThapa BaburamDahal,ChetanGurung,PratikP..."

In [26]:
def lower_letter(column): # Conerts to Lowercase
    return column.lower()

In [28]:
new_df['new_tag'] = new_df['new_tag'].apply(lower_letter) # Appling the lower_letter function in new_tag column

C:\Users\Samundra\AppData\Local\Temp\ipykernel_33484\2802642794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['new_tag'] = new_df['new_tag'].apply(lower_letter) # Appling the lower_letter function in new_tag column

In [30]:
new_df.head()

,Movie_id,Image,Title,new_tag
0,0,https://m.media-amazon.com/images/M/MV5BYmY0Zj...,The Red Suitcase,"fideldevkota fideldevkota saugatmalla,prabinkh..."
1,1,https://m.media-amazon.com/images/M/MV5BNmYxMD...,Pitaambar,"krishachaulagain pradeepbhardwaj,abhimanyunira..."
2,2,https://m.media-amazon.com/images/M/MV5BZWY4ZD...,Boksi Ko Ghar,sulakshyanbharati sulakshyanbharati kekiadhika...
3,3,https://m.media-amazon.com/images/M/MV5BMjAwOD...,Sherpa,"jenniferpeedom jenniferpeedom russellbrice,tim..."
4,4,https://m.media-amazon.com/images/M/MV5BNzY4ND...,Purna Bahadur Ko Sarangi,"sarojpoudel maheshdawadi,sarojpoudel bijaybara..."

In [34]:
import nltk   # Importing the Natural Language Toolkit (nltk) library for text processing
from nltk.stem.porter import PorterStemmer   # Importing the PorterStemmer from nltk, which is used to reduce words to their root form (stemming)

In [36]:
ps = PorterStemmer()

In [38]:
def stem(text):  # Defining a function 'stem' that applies stemming to each word in the input text
    list1 = []
    for i in text.split():
        list1.append(ps.stem(i))
    return ' '.join(list1)

In [40]:
new_df['new_tag'] = new_df['new_tag'].apply(stem)  # Applying stem function to new_tag

C:\Users\Samundra\AppData\Local\Temp\ipykernel_33484\3996297210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['new_tag'] = new_df['new_tag'].apply(stem)  # Applying stem function to new_tag

In [42]:
from sklearn.feature_extraction.text import CountVectorizer   # Importing CountVectorizer from scikit-learn
cv = CountVectorizer(max_features=1000,stop_words='english') # Initializing CountVectorizer

In [44]:
vectors = cv.fit_transform(new_df['new_tag']).toarray() # Applying CountVectorizer to the 'new_tag' column of the DataFrame

In [46]:
vectors.shape # Checking shape of vectors

(90, 1000)

In [48]:
# Importing cosine_similarity from scikit-learn
# This function calculates the cosine similarity between vectors
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
similarity = cosine_similarity(vectors)  # Calculating the cosine similarity between all movie vectors

In [52]:
similarity.shape

(90, 90)

In [54]:
def recommend(movie):   # Defining a function to recommend similar movies based on a given movie title
    movie_index = new_df[new_df['Title'] == movie].index[0]
    distance = similarity[movie_index]

     # Enumerating the distances and sorting them in descending order of similarity
    # Skipping the first one since it's the movie itself (most similar to itself)
    movie_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:4]
    for i in movie_list:
        print(new_df.iloc[i[0]].Title)
        print(new_df.iloc[i[0]].Image)

In [56]:
recommend('Hostel')

Manjari
https://m.media-amazon.com/images/M/MV5BNjAxZDg3NWEtY2FkMS00NTkxLWEyNzItNDE0MWMyODdlNjk1XkEyXkFqcGc@._V1_QL75_UY281_CR11,0,190,281_.jpg
Kabaddi Kabaddi Kabaddi
https://m.media-amazon.com/images/M/MV5BYTBlODk3ODEtYWI0Mi00MzJiLTg3MDUtNWFiN2UzMzI5ZjRjXkEyXkFqcGc@._V1_QL75_UY281_CR3,0,190,281_.jpg
Julebi
https://m.media-amazon.com/images/M/MV5BMjFiNWFmMGEtN2FmZC00MTdlLWExMDYtOGNhZTc3ZWIyMDIzXkEyXkFqcGc@._V1_QL75_UY281_CR46,0,190,281_.jpg

In [58]:
import pickle   # Importing the pickle module to save Python objects to a file

In [60]:
pickle.dump(new_df,open('movie_list.pkl','wb'))     # Saving the 'new_df' DataFrame to a file named 'movie_list.pkl' in binary write mode

In [62]:
pickle.dump(similarity,open('similarityy.pkl','wb'))    # Saving the similarity matrix to a file named 'similarityy.pkl' in binary write mode